{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    问卷
{% endblock %}

{% block content %}
<div class="alert alert-success" role="alert">
    <p>注意（attention）是心理活动对一定对象的指向和集中，是伴随着感知觉、记忆、思维、想象等心理过程的一种共同的心理特征。
    </p>
    <p>注意有两个基本特征，一个是指向性，是指心理活动有选择的反映一些现象而离开其余对象。二是集中性，是指心理活动停留在被选择对象上的强度或紧张。指向性表现为对出现在同一时间的许多刺激的选择；集中性表现为对干扰刺激的抑制。它的产生及其范围和持续时间取决于外部刺激的特点和人的主观因素。
    </p>
    <p>
    正注意力是有目的地将心理活动长时间地集中于某一事物的能力。它是智商重要的构成部分。成功者具有更好的注意力,对人生和事业更专注、更执著。现在，请集中注意力，忽略下面给出的测试题的题干，并选择长度最短的选项。
    </p>
{% formfields %}
</div>
{% next_button %}
{% endblock %}